:root {
  /* 색상 */
  --primary-color: #fff;
  --background-color: #fff;

  /* 투명 */
  --bg-none: transparant;

  /* White */
  --white-900: #fff;

  /* Grey */
  --grey-50: #f9fafb;
  --grey-100: #f2f4f6;
  --grey-200: #e5e8eb;
  --grey-300: #d1d6db;
  --grey-400: #b0b8c1;
  --grey-500: #8b95a1;
  --grey-600: #6b7684;
  --grey-700: #4e5968;
  --grey-800: #333d4b;
  --grey-900: #191f28;
  /* Blue */
  --blue-50: #e8f3ff;
  --blue-100: #c9e2ff;
  --blue-200: #90c2ff;
  --blue-300: #64a8ff;
  --blue-400: #4593fc;
  --blue-500: #3182f6;
  --blue-600: #2272eb;
  --blue-700: #1b64da;
  --blue-800: #1957c2;
  --blue-900: #194aa6;
  /* Red */
  --red-50: #ffeeee;
  --red-100: #ffd4d6;
  --red-200: #feafb4;
  --red-300: #fb8890;
  --red-400: #f66570;
  --red-500: #f04452;
  --red-600: #e42939;
  --red-700: #d22030;
  --red-800: #bc1b2a;
  --red-900: #a51926;
  /* Orange */
  --orange-50: #fff3e0;
  --orange-100: #ffe0b0;
  --orange-200: #ffcd80;
  --orange-300: #ffbd51;
  --orange-400: #ffa927;
  --orange-500: #fe9800;
  --orange-600: #fb8800;
  --orange-700: #f57800;
  --orange-800: #ed6700;
  --orange-900: #e45600;
  /* Yellow */
  --yellow-50: #fff9e7;
  --yellow-100: #ffefbf;
  --yellow-200: #ffe69b;
  --yellow-300: #ffdd78;
  --yellow-400: #ffd158;
  --yellow-500: #ffc342;
  --yellow-600: #ffb331;
  --yellow-700: #faa131;
  --yellow-800: #ee8f11;
  --yellow-900: #dd7d02;
  /* Green */
  --green-50: #f0faf6;
  --green-100: #aeefd5;
  --green-200: #76e4b8;
  --green-300: #3fd599;
  --green-400: #15c47e;
  --green-500: #03b26c;
  --green-600: #02a262;
  --green-700: #029359;
  --green-800: #028450;
  --green-900: #027648;
  /* Teal */
  --teal-50: #edf8f8;
  --teal-100: #bce9e9;
  --teal-200: #89d8d8;
  --teal-300: #58c7c7;
  --teal-400: #30b6b6;
  --teal-500: #18a5a5;
  --teal-600: #109595;
  --teal-700: #0c8585;
  --teal-800: #097575;
  --teal-900: #076565;
  /* Purple */
  --purple-50: #f9f0fc;
  --purple-100: #edccf8;
  --purple-200: #da9bef;
  --purple-300: #c770e4;
  --purple-400: #b44bd7;
  --purple-500: #a234c7;
  --purple-600: #9128b4;
  --purple-700: #8222a2;
  --purple-800: #73228e;
  --purple-900: #65237b;

  /* 박스쉐도우 */
  --box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --box-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --box-shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

  /* filter */
  --drop-shadow-md: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));

  /* Font Sizes */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-3xl: 1.75rem;
  --font-size-4xl: 2rem;
  /* Line Heights */
  --line-height-tight: 1.25; /* 제목 */
  --line-height-base: 1.5; /* 본문 */
  --line-height-relaxed: 1.625;
  --line-height-loose: 2; /* 긴 문장 */
  --line-height-none: 1;
  /* Font Weight */
  --font-weight-100: 100;
  --font-weight-200: 200; /* border */
  --font-weight-300: 300;
  --font-weight-400: 400; /* normal */
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700; /* bold */
  --font-weight-800: 800;
  --font-weight-900: 900;

  /* 여백 */
  --space-0: 0; /* 0px */
  --space-1: 0.25rem; /* 4px */
  --space-2: 0.5rem; /* 8px */
  --space-3: 0.75rem; /* 12px */
  --space-4: 1rem; /* 16px */
  --space-5: 1.25rem; /* 20px */
  --space-6: 1.5rem; /* 24px */
  --space-7: 1.75rem; /* 28px */
  --space-8: 2rem; /* 32px */
  --space-9: 2.25rem; /* 36px */
  --space-10: 2.5rem; /* 40px */

  /* 반응형 브레이크포인트 */
  --breakpoint-xs: 480px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1440px;

  /* z-index */
  --z-header: 100;
  --z-modal: 200;
  --z-tooltip: 300;

  /* 레이아웃 */
  --container-width: 1280px;
  --gutter: 40px;
  --header-height: 60px;
  --footer-height: 145px;
  --m-footer-height: 123px;

  /* 폰트 */
  --font-pretendard: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
   Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
   'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;

  /* 폰트 셋팅 */
  font-family: var(--font-pretendard);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-400);

  /* 폰트 최적화 */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  // @media (max-width: 800px) {
  //   :root {
  //     font-size: 14px;
  //     line-height: 1.4;
  //   }
  // }
}
