@import '../../../assets/styles/base/mixins';

.raidLayout {
  width: 100%;
  margin-top: var(--space-8);
  font-size: var(--font-size-sm);
  overflow-x: auto;
  scrollbar-width: thin;

  table {
    width: 100%;
    min-width: 1080px;
    border-spacing: 0;
  }

  th {
    height: 40px;
    padding: var(--space-1);
    color: var(--grey-500);
    font-weight: var(--font-weight-600);
    text-align: center;
    word-break: keep-all;

    &:first-child {
      padding-left: var(--space-3);
    }

    &:last-child {
      padding-right: var(--space-3);
    }
  }

  tbody {
    tr {
      border-radius: var(--space-4);

      &:nth-child(odd) {
        background-color: var(--grey-50);
      }

      &:hover {
        background-color: var(--grey-100);
      }
    }
  }

  td {
    height: 50px;
    padding: var(--space-1);
    text-align: center;
    color: var(--grey-700);

    &:first-child {
      padding-left: var(--space-3);
    }

    &:last-child {
      padding-right: var(--space-3);
    }

    a {
      &:hover {
        text-decoration: none;
      }
    }

    &.button {
      @include flex(center, center, unset);
      button {
        width: 16px;
        height: 16px;
      }
    }
  }

  .tdInner {
    @include flex(center, center, column);
    font-weight: var(--font-weight-500);

    .name {
      font-weight: var(--font-weight-700);
    }

    .class,
    .guild,
    .cairde {
      color: var(--grey-500);
    }

    .cairde {
      font-size: var(--font-size-xs);
    }

    span.high {
      color: var(--red-500);
    }

    span.low {
      color: var(--blue-500);
    }
  }
}
