@import '../../../assets/styles/base/mixins';

.dropdown {
  position: relative;
  display: inline-block;
}

.trigger {
  @include transition-colors;
  @include flex(center, space-between, row);
  min-width: 100px;
  padding: var(--space-1) var(--space-2);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-600);
  color: var(--purple-600);
  border: none;
  border-radius: var(--space-1);
  background-color: var(--purple-50);
  cursor: pointer;

  &:hover {
    background-color: var(--purple-100);
  }
}

.menu {
  @include flex(center, unset, column);
  gap: var(--space-1);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 50;
  width: 100%;
  margin-top: var(--space-1);
  padding: var(--space-1);
  background: var(--white-900);
  border: 1px solid var(--grey-200);
  border-radius: var(--space-1);
  box-shadow: var(--box-shadow-md);
}

.menu li {
  width: 100%;
}

.menu button {
  @include transition-colors;
  display: inline-block;
  width: 100%;
  padding: var(--space-2) var(--space-3);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-600);
  text-align: center;
  word-break: keep-all;
  color: var(--grey-500);
  border: none;
  border-radius: var(--space-1);
  background-color: var(--white-900);
  cursor: pointer;

  &:hover {
    background-color: var(--grey-100);
  }

  &.active {
    color: var(--purple-600);
    background-color: var(--purple-50);

    &:hover {
      background-color: var(--purple-100);
    }
  }
}
