@import '../../assets/styles/base/mixins';

.main {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  padding: var(--space-4) 0;

  .container {
    @include container;
    @include flex(unset, unset, column);
    width: 100%;
    height: 100%;
    gap: var(--space-10);
  }

  .section {
    @include flex(unset, unset, column);
    width: 100%;
  }

  .title {
    h2 {
      font-size: var(--font-size-2xl);
      font-weight: var(--font-weight-700);
    }

    p {
      font-size: var(--font-size-sm);
      color: var(--grey-600);
    }
  }

  .filter {
    @include flex(center, unset, row);
    width: 100%;
    padding: var(--space-2) 0;

    .filterTitle {
      @include flex(center, unset, row);
      gap: var(--space-1);
      padding: var(--space-2) 0;

      span {
        font-size: var(--font-size-sm);
        color: var(--grey-600);
      }
    }

    .filterList {
      @include flex(center, unset, row);
      gap: var(--space-2);
      padding: 0 var(--space-2);
    }
  }
}